In [2]:
#1
print("Name : MANU EMMANUEAL")
print("Student Number : ENTRI007")
print("Email: manu@gmail.com")

Name : MANU EMMANUEAL
Student Number : ENTRI007
Email: manu@gmail.com

In [4]:
#2
print("Manu Emmanueal\nENTRI007\nmanu@gmail.com")

Manu Emmanueal
ENTRI007
manu@gmail.com

In [5]:
#3
x = 14
y = 7

In [6]:
x+y

21

In [7]:
x-y

7

In [8]:
x*y

98

In [9]:
x/y

2.0

0

In [11]:
#4
for a in range(1,6):
    print(a)

1
2
3
4
5

In [14]:
#5
print("\"SDK\" stands for \"Software Development Kit\", whereas \"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".

In [15]:
#6
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri.
5
e
Entri
2023
Entri2023
Entri*2023

In [1]:
#7
num = 23
textnum = "57"
decimal = 98.3

In [7]:
print(type(num))
print(type(textnum))
print(type(decimal))

<class 'int'>
<class 'str'>
<class 'float'>

In [4]:
#8
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60

In [6]:
total_minutes = days_in_year * hours_in_day * minutes_in_hour
print(f"Total number of minutes in a year: {total_minutes}")

Total number of minutes in a year: 525600

In [1]:
#9
name = input("Please enter your name: ")
print(f"Hi {name}, welcome to Python programming :)")

Please enter your name: Manu Emmanueal
Hi Manu Emmanueal, welcome to Python programming :)

In [2]:
#10
amount_in_pounds = float(input("Please enter amount in pounds: "))
exchange_rate = 1.35
amount_in_dollars = amount_in_pounds * exchange_rate
print(f"£{amount_in_pounds} are ${amount_in_dollars:.2f}")

Please enter amount in pounds: 100
£100.0 are $135.00