In [2]:
import pandas as pd
import numpy as np

In [8]:
#1
file_path = "C:/Users/manue/Downloads/titanic_dataset.csv"
df = pd.read_csv(file_path)

In [10]:
print("Dataset preview:")
print(df.head())

Dataset preview:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [12]:
#2
destination_path = "C:/Users/manue/Downloads/copied_titanic_dataset.csv"
df.to_csv(destination_path, index=False)
print(f"File copied successfully to {destination_path}.")

File copied successfully to C:/Users/manue/Downloads/copied_titanic_dataset.csv.

In [23]:
#3
word_count = df.astype(str).apply(lambda x: x.str.split().str.len()).sum().sum()
print(f"Total number of words in the dataset: {word_count}")

Total number of words in the dataset: 13698

In [29]:
#4
try:
    user_input = input("Enter a number: ")
    number = int(user_input)
    print(f"The integer value is: {number}")
except ValueError:
    print("Invalid input! Please enter a valid integer.")

Enter a number:  7

The integer value is: 7

In [31]:
try:
    user_input = input("Enter a number: ")
    number = int(user_input)
    print(f"The integer value is: {number}")
except ValueError:
    print("Invalid input! Please enter a valid integer.")

Enter a number:  m

Invalid input! Please enter a valid integer.

In [35]:
#5
try:
    age_list = df['Age'].dropna().tolist() 
    for age in age_list:
        if age < 0:
            raise ValueError("Negative age found!")
    
    print("All ages are non-negative.")
except ValueError as e:
    print(e)

All ages are non-negative.

In [39]:
#6
try:
    # Calculate the average age
    avg_age = df['Age'].mean()
    print(f"The average age is: {avg_age}")
except ZeroDivisionError:
    print("Cannot calculate average, list is empty.")
except ValueError:
    print("Invalid input! Please enter valid integers.")
finally:
    print("Program has finished running.")

The average age is: 29.69911764705882
Program has finished running.

In [41]:
#7
new_filename = "C:/Users/manue/Downloads/welcome_message.txt"
content = "Welcome to the Titanic dataset analysis!"

try:
    with open(new_filename, 'w') as file:
        file.write(content)
    print(f"Content written to {new_filename} successfully.")
except Exception as e:
    print(f"An error occurred: {e}")
else:
    print("File write operation completed successfully.")

Content written to C:/Users/manue/Downloads/welcome_message.txt successfully.
File write operation completed successfully.