## List Exercise

In [4]:
#
#1
import random
random_list =[random.randint(1,100) for _ in range(5)]
print("List of 5 random numbers:", random_list)

List of 5 random numbers: [80, 18, 27, 62, 2]

In [5]:
#2 
new_values = [random.randint(101,200), random.randint(101,200), random.randint(100,200)]
random_list.extend(new_values)
print("updated list with 3 new values:",random_list)

updated list with 3 new values: [80, 18, 27, 62, 2, 199, 199, 106]

In [7]:
#3
print("each element in the list:")
for element in random_list:
    print(element)

each element in the list:
80
18
27
62
2
199
199
106

## Dictionary Exercise

In [10]:
#1
person_dict = {'name': 'John', 'age': 25, 'address': 'New York'}
print("Dictionary:", person_dict)

Dictionary: {'name': 'John', 'age': 25, 'address': 'New York'}

In [11]:
person_dict['phone'] = '1234567890'
print("Updated dictionary with new key-value pair:", person_dict)

Updated dictionary with new key-value pair: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

## Set Exercise

In [12]:
#1
number_set = {1, 2, 3, 4, 5}
print("Set:", number_set)

Set: {1, 2, 3, 4, 5}

In [13]:
#2
number_set.add(6)
print("Set after adding 6:", number_set)

Set after adding 6: {1, 2, 3, 4, 5, 6}

In [15]:
#3
number_set.remove(3)
print("Set after removing 3:", number_set)

Set after removing 3: {1, 2, 4, 5, 6}

## Tuple Exercise

In [16]:
#1
number_tuple = (1, 2, 3, 4)
print("Tuple:", number_tuple)

Tuple: (1, 2, 3, 4)

In [17]:
tuple_length = len(number_tuple)
print("Length of the tuple:", tuple_length)

Length of the tuple: 4